<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801858899837-qqqil20s0iuos5q8ht45i83bjfb4ss8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801858899837-qqqil20s0iuos5q8ht45i83bjfb4ss8a</string>
	<key>API_KEY</key>
	<string>AIzaSyD4oC25PE3jVBOWkRyhexV1RK9ZG9SFF08</string>
	<key>GCM_SENDER_ID</key>
	<string>801858899837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.client</string>
	<key>PROJECT_ID</key>
	<string>oauth-454eb</string>
	<key>STORAGE_BUCKET</key>
	<string>oauth-454eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801858899837:ios:d7849806d07d2e5a50c614</string>
</dict>
</plist>